@import '../../varible.scss';
.profile-name {
	margin-left: 10px;
	font-size: 16px;
}
.profile-btnExit {
	margin-left: auto;
	background: none;
	border: none;
	cursor: pointer;
	/* min-width: 45px;
	width: 45px;
	min-height: 45px;
	height: 45px;
	margin-left: auto;
	border: 0;
	border-radius: 45px;
	background: $gray_D;
	cursor: pointer;
	transition: 0.3s ease-in-out; */
	svg {
		width: 35px;
		height: auto;
		/* position: relative;
		top: 2px;
		left: 2px; */
		path {
			transition: 0.3s ease-in-out;
		}
	}
	&:hover {
		svg {
			path {
				fill: $blue_L;
			}
		}
	}
}
